body {
    text-align: left;
    background-color: whitesmoke;
}

#ttr_sidebar {
    border-left: 1px solid black;
}

#ttr_footer {
    width: 100%;
    border-top: 1px #a2a2a2 solid;
    text-align: center;
}

.title {
    font-size: 11pt;
    font-family: verdana;
    font-weight: bold;
}

/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.navbar-alfan-home {
    padding: 15px 60px 15px 20px;
    background-color: #2e160d7d;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99999;
    color: white;
    font-size: 20px;
    text-shadow: 0 1px 2px rgba  (0, 0, 0, .6);
}
.navbar-alfan {
    padding: 15px 60px 15px 20px;
    background-color: #2e160d7d;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
    /* position: fixed; */
    width: 100%;
    /* top: 0; */
    z-index: 99999;
    color: white;
    font-size: 20px;
    text-shadow: 0 1px 2px rgba  (0, 0, 0, .6);
}



.logo {
    padding: 5px 0;
}

.navbar-li {
    display: inline;
    padding: 5px 15px;
}

.navbar-li:hover {
    text-decoration: underline;
}

.navbar-alfan-home a {
    color: white;
    text-decoration: none;
}
.navbar-alfan a {
    color: white;
    text-decoration: none;
}

.menu {
    display: none;
}

.navbar-ul {
    margin-bottom: 0;
}

.menu-line {

    width: 22px;
    height: 3px;
    margin-bottom: 3px;
    background-color: black;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes main {
    0% {
        background-image: url(images/main.JPG);
    }

    35% {
        background-image: url(images/sub.JPG);
        color: white;
    }

    65% {
        background-image: url(images/last.JPG);
    }

    100% {
        background-image: url(images/main.JPG);
    }

}

.main-wrapper {
    padding: 180px 0 100px 0;
    background-image: url(images/main.JPG);
    background-size: cover;
    background-color: none;
    color: #333333;
    text-align: left;
    animation-name: main;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

#id-navbar {
    overflow: hidden;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    animation: fadeIn 0.3s;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    background-color: #2e160d;
}

/* .sticky + .content {
    padding-top: 60px;
  } */

.slide img {
    width: 100%;
    height: 700px;
    object-fit: cover;
    /*   filter: brightness(50%) */
    /*   height: 500px; */
}

.carousel-inner:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
}

.carousel-content {
    position: absolute;
    /* bottom: 10%; */
    left: 10%;
    z-index: 20;
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}


/*
  .header-artikel{
      padding: 20px 40px;
      border-bottom: 2px solid #eeeeee;
  }
  .content-artikel{
      padding: 20px 40px;
  }
  */

/* header dengan dropdown #astrid */
/*
  header {
    height: 65px;
    max-width: 1300px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
  } */

.header-left {
    display: inline-block;
}

.header-left a {
    text-decoration: none;
    padding-top: 20px;
    color: #164302;
    letter-spacing: 1px;
    font-size: 30px;
    font-weight: bolder;
}

.header-right {
    float: right;
}

.header-right ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header-right li a {
    display: inline-block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
}

.header-right li a:hover {
    text-decoration: underline;
}

.header-right>ul>li {
    float: left;
}

li.dropdown {
    margin-right: 15px;
    display: inline-block;
    cursor: pointer;
}

.dropdown:hover .isi-dropdown {
    display: block;
    margin-top: 6px;
}

.isi-dropdown {
    width: 200px;
    position: fixed;
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background-color: black;
    padding: 0;
    text-align: left;
}

.isi-dropdown li {
    margin: 0;
    padding: 0px 5px 7px 10px;
}

.isi-dropdown a {
    color: white !important;
}

.isi-dropdown a:hover {
    border-radius: 0;
    display: block;
    background: rgba(255, 255, 255, 0.2);
}

/* BATAS HEADER*/

/* 2 kolom */
/* Create two unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
    /* Should be removed. Only for demonstration */

}

.alfan-form-header {
    margin: 40px 0px;
}

.column-right {
    margin: auto;
    width: 40%;
}

.alfan-dekorasi-login {
    background-color: #ffdd00;
    width: 100px;
    height: 10px;
}


.left {
    width: 20%;
}

.right {
    padding: 40px;
    width: 80%;
}

.sidebar {
    background-color: aliceblue;
}

.header-sidebar {
    font-size: 20px;
    font-weight: 700;
    padding: 30px 20px;
}

.sidebar ul {
    margin: 0;
    padding: 0;
}

.sidebar li {
    padding: 1em 5px;
    background-color: #e5edf3;
    border-radius: 15px;
    text-align: center;
    font-weight: 600;
}

.sidebar li:hover {
    background-color: #ddd;
}

/* end of 2 kolom */

/* untuk responsive */
@media screen and (max-width:900px) {
    .navbar-alfan {
        /* width: 100%; */
        flex-direction: column;
        align-items: center;
        padding: 0px;
    }

    .logo {
        align-items: flex-start;
        padding: 20px 0px;
    }

    li.dropdown {
        margin-right: 0px;
        display: block;
        border-radius: 0px;
    }

    .navbar-ul {
        width: 100%;
        display: none;
    }

    .navbar-li {
        background-color: #EEEEEE;
        display: block;
        text-align: center;
        padding: 10px 0px;
        border-top: 1px solid #ddd;
        /* padding-top: 20px; */
    }

    .menu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .active {
        display: block;
    }
}


/* CONTENT  */
/*VISI MISI dst */

.row {
  margin: 0;
  padding: 0;
  display: flex;
}

.row .column ul:hover {
  background-color: rgba(0, 0, 0, 0.353);
  cursor: pointer;
}
/*
.highlight .info-wrapper {
    position: relative;
    width: calc(400px - 30px);
    height: calc(300px - 30px);
    background: #000;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}
*/

/* BATAS CONTENT */

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/* FOOTER BARU */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

footer{
  background: #232324;
  width: 100%;
  bottom: 0;
  left: 0;
}
footer::before{
  content: '';
  position: absolute;
  left: 0;
  top: 100px;
  height: 1px;
  width: 100%;
}
footer .content{
  max-width: 1250px;
  margin: auto;
  padding: 30px 40px 40px 40px;
}

.content .box .logo-details{
  color: #fff;
  font-size: 30px;
}
.content .box .media-icons{
  display: flex;
}
.content .box .media-icons a{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
}
.content .box .media-icons .fab {
  color: #fff;
  margin-top: 12px;
}
.box .media-icons a:nth-child(1){
  background: #4267B2;
}
.box .media-icons a:nth-child(1):hover{
  color: #4267B2;
  background: #fff;
}

.box .media-icons a:nth-child(2){
  background: #E1306C;
}
.box .media-icons a:nth-child(2):hover{
  color: #E1306C;
  background: #fff;
}

.box .media-icons a:nth-child(3){
  background: #FF0000;
}
.box .media-icons a:nth-child(3):hover{
  color: #FF0000;
  background: #fff;
}
footer .content .link-boxes{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .content .link-boxes .box{
  width: calc(100% / 1 - 10px);
}
.content .link-boxes .box .link_name{
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
}
.link-boxes .box .link_name::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 35px;
  background: #fff;
}
.content .link-boxes .box li{
  margin: 6px 0;
  list-style: none;
}
.content .link-boxes .box li a{
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease
}
.content .link-boxes .box li a:hover{
  opacity: 1;
  text-decoration: underline;
}
.content .link-boxes .input-box{
  margin-right: 55px;
}
.link-boxes .input-box input{
  height: 40px;
  width: calc(100% + 55px);
  outline: none;
  border: 2px solid #AFAFB6;
  background: #140B5C;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  color: #fff;
  margin-top: 5px;
}
.link-boxes .input-box input::placeholder{
  color: #AFAFB6;
  font-size: 16px;
}
.link-boxes .input-box input[type="button"]{
  background: #fff;
  color: #140B5C;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
}
.input-box input[type="button"]:hover{
  opacity: 1;
}
footer .bottom-details{
  width: 100%;
  background: #000000;
}
footer .bottom-details .bottom_text{
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}
.bottom-details .bottom_text span,
.bottom-details .bottom_text a{
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}
.bottom-details .bottom_text a:hover{
  opacity: 1;
  text-decoration: underline;
}
.bottom-details .bottom_text a{
  margin-right: 10px;
}
@media (max-width: 900px) {
  footer .content .link-boxes{
    flex-wrap: wrap;
  }
  footer .content .link-boxes .input-box{
    width: 40%;
    margin-top: 10px;
  }
}
@media (max-width: 700px){
  footer{
    position: relative;
  }
  .content .top .logo-details{
    font-size: 26px;
  }
  .content .top .media-icons a{
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 3 - 10px);
  }
  footer .content .link-boxes .input-box{
    width: 60%;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 12px;
  }
}
@media (max-width: 520px){

  footer::before{
    top: 145px;
  }
  footer .content .top{
    flex-direction: column;
  }
  .content .top .media-icons{
    margin-top: 16px;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 2 - 10px);
  }
  footer .content .link-boxes .input-box{
    width: 100%;
  }
}
.optimis p{
    font-size: 55pt;
    margin-top: 150px;
    text-align: center;
    font-weight: bold;
    color: rgb(164, 64, 28);
}
.isioptimis {
    font-size: 12pt;
    margin: 0px;
    /* margin-top: 10px; */
}
  .flex-container {
    display: flex;
    flex-direction:column;
    vertical-align: middle;
  }

  .flex-container > div {
    background-color: green;
    color: #ddd;
    /* font-weight: bold; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* width: 100px; */
    padding: 7px;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 0%;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
  }

  .vertical-center {
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .artikel{
    margin: 20px 0px;
    padding: 20px 40px;   
    background-color: white;
    border-radius: 24px;
    box-shadow: 5px 10px 18px #888888;
  }
.artikel img{
  width:600px;
  height: 600px;
}

.ttr_content{
  padding: 20px 40px;
}

hr{
  border-top: 1px solid red;
}

.posted-on{
  color: #888;
}

.artikel-post{
  margin: 20px 40px;
    padding: 20px 40px;   
    background-color: white;
    border-radius: 24px;
    box-shadow: 5px 10px 18px #888888;
}

.aligncenter.size-full.is-resized, .has-text-align-center {
  text-align:center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.has-text-align-right{
  display: flex;
  flex-wrap: wrap;
  text-align: right;
}

.wp-block-columns {
  display:flex;
  margin-bottom:1.75em;
  box-sizing:border-box;
  flex-wrap:wrap!important;
  align-items:normal!important
 }
 @media (min-width:782px) {
  .wp-block-columns {
   flex-wrap:nowrap!important
  }
 }
 .wp-block-columns.are-vertically-aligned-top {
  align-items:flex-start
 }
 .wp-block-columns.are-vertically-aligned-center {
  align-items:center
 }
 .wp-block-columns.are-vertically-aligned-bottom {
  align-items:flex-end
 }
 @media (max-width:781px) {
  .wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column {
   flex-basis:100%!important
  }
 }
 @media (min-width:782px) {
  .wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column {
   flex-basis:0;
   flex-grow:1
  }
  .wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column[style*=flex-basis] {
   flex-grow:0
  }
 }
 .wp-block-columns.is-not-stacked-on-mobile {
  flex-wrap:nowrap!important
 }
 .wp-block-columns.is-not-stacked-on-mobile>.wp-block-column {
  flex-basis:0;
  flex-grow:1
 }
 .wp-block-columns.is-not-stacked-on-mobile>.wp-block-column[style*=flex-basis] {
  flex-grow:0
 }
 :where(.wp-block-columns.has-background) {
  padding:1.25em 2.375em
 }
 .wp-block-column {
  flex-grow:1;
  min-width:0;
  word-break:break-word;
  overflow-wrap:break-word
 }
 .wp-block-column.is-vertically-aligned-top {
  align-self:flex-start
 }
 .wp-block-column.is-vertically-aligned-center {
  align-self:center
 }
 .wp-block-column.is-vertically-aligned-bottom {
  align-self:flex-end
 }
 .wp-block-column.is-vertically-aligned-bottom,
 .wp-block-column.is-vertically-aligned-center,
 .wp-block-column.is-vertically-aligned-top {
  width:100%
 }

 .wp-block-image:not(.is-style-rounded) > a, .wp-block-image:not(.is-style-rounded) img {
  border-radius: inherit;
}
.wp-block-image img {
  height: auto;
  max-width: 80%;
  vertical-align: bottom;
}
html :where(img[class*="wp-image-"]) {
  height: auto;
  max-width: 80%;
}